
fastapi[all]
uvicorn[standard]
python-multipart
httpx
requests
pydantic_settings

loguru
gunicorn
openpyxl
pytest
pandas

aiohttp
redis
openai
pytest
pytest-cov
termcolor

chromadb
markdown
python-docx
